<h1>Coaching#answer</h1>

<!-- app/views/coaching/home.html.erb -->
</br>
</br>

<h2><%= @question %><span> - you</span></h2>
<h2><%= @response %><span> - The coach</span></h2>
<%= link_to "ask another question", coaching_ask_path %>
